body {
    font-family: Arial;
    margin: 0px;
}

.main {
    margin-top: 50px;
}

.navbar {
    overflow: hidden;
    background-color: chocolate;
}

.navbar a {
    float: left;
    color: black;
    display: block;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: larger;
}

.navbar a:hover {
    background-color: burlywood;
    color: black;
}

.navbar a.active {
    background-color: rgb(224, 164, 85);
    color: black;
}

.navbar .icon {
    display: none;
}



@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        left: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}




